<nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <span class="navbar-brand mb-0 h1">Tom Murphy Dev</span>
  </div>
</nav>
<div class="container mt-3">
  <div class="px-4 py-5 my-5 text-center">
    <img class="d-block mx-auto mb-4" src="assets/images/logo.svg" alt="Tom Murphy Dev blue logo" width="128" height="32">
    <h1 class="display-5 fw-bold text-body-emphasis">Tom Murphy</h1>
    <h2 class="display-5 fw-bold text-body-emphasis">Senior Software Developer</h2>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">Im Senior Software Engineer based in Dublin, Ireland, with a strong background in .Net technologies, Angular,
        Entity Framework, and Azure Devops.
        I have a keen interest in Microservices, Code Modernisation, Cloud Migration, and Systems Design.</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <button type="button" class="btn btn-primary btn-lg px-4 gap-3">Github</button>
        <button type="button" class="btn btn-outline-secondary btn-lg px-4">LinkedIn</button>
      </div>
    </div>
  </div>
</div>