<nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <span class="navbar-brand mb-0 h1">Tom Murphy Dev</span>
  </div>
</nav>
<div class="container">
  <div class="row text-center">
    <h1 class="display-5 fw-bold text-body-emphasis">Tom Murphy</h1>
    <h2 class="display-5 fw-bold">Senior Software Engineer</h2>
  </div>
  <div class="row">
    <div class="col mx-auto" >
      <div class="d-flex justify-content-center">
        <i class="bi bi-code icon"></i>
        <i class="bi bi-git icon"></i>
        <i class="bi bi-cup-hot-fill icon"></i>
        <i class="bi bi-terminal icon"></i>
        <i class="bi bi-filetype-cs icon"></i>
      </div>
    </div>
    <div class="col-lg-8 mx-auto">
      <p class="lead text-center">I'm a Senior Software Engineer based in Dublin, Ireland, with a strong background in .Net technologies, Angular,
        Entity Framework, and Azure Devops.Angular is my preferred front-end framework, and I have a keen interest in Microservices, Code Modernisation, Cloud Migration, and Systems Design.</p>
      <p class="mb-4 text-center">While most of my professional experience is in the Languages/frameworks above at the end of the day they are just tools to develop solutions. As such any language or framework 
        I can apply my strong problem solving skills with pragmatism to deliver effective solutions for your business.</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <a href="https://github.com/TomMurphyDev" target="_blank" class="btn btn-primary btn-lg px-4 gap-3"><i class="bi bi-github"></i> Github</a>
        <a href="https://www.linkedin.com/in/thomasmurphydev/" target="_blank" class="btn btn-secondary btn-lg px-4 gap-3"><i class="bi bi-linkedin"></i> LinkedIn</a>
      </div>
    </div>
  </div>
</div>